<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <h1>Book List</h1>
    <ul>
        {% for book in books %}
        <li>
            <a href="{% url 'books:book_detail' pk=book.pk %}">{{ book.title }}</a> - Status: {{ book.status }}
        </li>
        {% endfor %}
    </ul>

    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>

    <hr>

    <h2>Добавить новую книгу</h2>
    <form action="{% url 'books:book_create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>
</body>
</html>